body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    background-color: teal;
    color: white;
    height: 7vh;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3vw;
    margin: 0;
    list-style: none;
}
