* { 
    padding: 0; 
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    gap: 10vh;
}

header {
    display: flex;
    align-items: center;
    background-color: teal;
    color: white;
    height: 7vh;
}

ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3vw;
    list-style: none;
}

footer {
    margin-top: auto;
    min-height: 7vh;
    display: flex;
    align-items: center;
    background-color: darkgray;
    color: lightgray;
    justify-content: center;

   
}